div {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.login-container {
  margin-top: 26vh;
}

.header-bg {
  background-color: #0b3f20;
}

.header-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
}

.logo-container {
  align-items: center;
  display: flex;
  gap: 0.8rem;
}

.expense-container {
  display: flex;
}

.expense-container span {
  margin-left: 0.2rem;
}

.menu-container {
  padding: 1rem 2rem;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 60%;
}

@media (max-width: 520px) {
  .description-field {
    width: 180px;
  }
}

.input-field {
  border: 1px solid #d1d5db;
  border-radius: 5px;
  text-indent: 0.25rem;
}

.input-field:focus {
  border: 1px solid #22c55e;
}

.table {
  min-height: 30vh;
  margin: 2rem 0;
}

.footer-container {
  bottom: 0;
  left: 0;
  padding: 2rem 0 0.2rem;
  position: static;
  text-align: center;
  width: 100%;
}

.footer-container a:hover {
  color: #22c55e;
  font-weight: 700;
}
